.active {
  color: green;
}

a {
  color: black;
  text-decoration: none;
}

.folder-links {
  font-weight: bold;
  font-size: 20px;
}

.foldersList {
  max-width: 300px;
  text-align: center;
  margin-left: auto;
  margin-top: 0px;
}
