label,
input {
  display: block;
}

textarea {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 200px;
}

.button-container {
  text-align: center;
}

form {
  text-align: left;
}

select {
  display: block;
  margin: 10px auto;
}

.error-message {
  display: inline;
}

.add-content-label {
  margin-top: 40px;
}

.add-content-container {
  text-align: center;
}

input[name="name"] {
  width: 300px;
}
