.app-header {
  text-align: center;
  font-size: 60px;
}

.sidebar {
  float: left;
  width: 40%;
  text-align: center;
  margin-top: 50px;
}

main {
  float: right;
  width: 60%;
  text-align: left;
  font-size: 40px;
}

body {
  background-color: lightcyan;
}
